.footer ul {
  list-style-type: none;
}

.cfp .btn {
  border-radius: 0px;
  font-weight: 900;
  font-size: 25px;
}

#deets {
  margin-bottom: 70px; }
  #deets h2, #deets .h2 {
    margin-bottom: 30px; }

.cfp {
  margin-bottom: 70px; }
  .cfp h2, .cfp .h2 {
    margin-bottom: 30px; }

.tagline h2 {
  font-weight: normal;
  color: white;
  margin-top: 50px;
  margin-bottom: 0;
}

.jumbotron .newsletter {
  margin-top: 40px;
}

