<div class="row callouts page--title confetti confetti--smile">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="purple">Code of Conduct</h1>
  </div>
</div>
<div class="row conduct">
  <div class="col-md-8 col-md-offset-2">
    <%= markdown(:conduct) %>
  </div>
</div>
