<div class="markdown-header row callouts confetti confetti--heart">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="blue">OS Feels Diversity Statement</h1>
    <%= markdown("(Adapted from the [Dreamwidth Diversity Statement](https://www.dreamwidth.org/legal/diversity))") %>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= markdown(:diversity) %>
  </div>
</div>
