<div class="row footer">
  <div class="col-md-12">
    <address>
      <a href="mailto:hello@opensourceandfeelings.com">
        <img src="img/smile_confetti.png" />hello@opensourceandfeelings.com
      </a>
    </address>
  </div>
</div>
