<div class="row footer">
  <div class="col-md-12">
    <address>
      <a href="mailto:hello@opensourceandfeelings.com">
        <img src="img/smile_confetti.png" />hello@osfeels.com
      </a>
      <br>
      <a href= "https://twitter.com/OSFeels">
        <img src="img/heart_confetti.png" />@OSFeels
      </a>
    </address>
  </div>
</div>
