<div class="row footer">
  <div class="col-md-12">
    <ul>
      <li>
        <a class="confetti confetti--inline confetti--triangle" href="/conduct">
          Code of Conduct
        </a>
      </li>
      <li>
        <a class="confetti confetti--inline confetti--smile" href="mailto:hello@opensourceandfeelings.com">
          hello@osfeels.com
        </a>
      </li>
      <li>
        <a class="confetti confetti--inline confetti--heart" href= "https://twitter.com/OSFeels">
          @OSFeels
        </a>
      </li>
    </ul>
  </div>
</div>
