<div class="row callouts">
  <div class="col-md-4">
    <img class="confetti" src="img/speech_confetti.png" />
    <h2 class="pink">Why<br>Open Source?</h2>
    <p>While successful from a technical or business perspective, on the human side of things, the promise of the Open Source Software community has gone unfulfilled. Open Source culture, left to grow untended, has been co-opted, diluted, and leaves too many individuals behind. It is a garden in need of tending, with too few gardeners available—we want to change that.</p>
  </div>
  <div class="col-md-4">
    <img class="confetti" src="img/smile_confetti.png" />
    <h2 class="blue">Why<br>Feelings?</h2>
    <p>Writing software can be emotionally difficult. Some of us talk about it with others, but many of us don’t, or aren’t encouraged to share. We need to be sharing our struggles, however, as we are the most natural support for each other. Being supportive and using this support takes practice and it takes intention.</p>
  </div>
  <div class="col-md-4">
    <img class="confetti" src="img/heart_confetti.png" />
    <h2 class="purple">Why Open Source & Feelings?</h2>
    <p>Open Source & Feelings is about the intersection between software and the humanities, and how we engage with the communities we're a part of. It is about deliberative crafting of its culture into what we want it to be, about developing strategies, skills, and solutions in order work as a community.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <img class="confetti" src="img/heart_confetti.png">
  </div>
</div>
<div class="row">
  <div id="deets" class="col-md-12">
    <h2 class="blue">Where and When</h2>
    <p class="purple lead text-center"><strong>October 2nd and 3rd</strong></p>
    <p class="purple lead text-center"><a href="http://wp.seattlecentral.edu/broadway-performance-hall/"><strong>Broadway Performance Hall</strong></a><br />
    1625 Broadway <a class="pink" href="https://www.openstreetmap.org/way/137775893#map=14/47.6140/-122.3227&layers=H">(map)</a><br />
    Seattle, WA</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <img class="confetti" src="img/speech_confetti.png">
  </div>
</div>
<div class="row">
  <div class="cfp col-md-12">
    <h2 class="yellow">Presenting</h2>
    <p class="purple lead text-center">Our Call For Proposals is open until <strong>Tuesday, July 7th</strong>. We'd love to hear from you!</p>
    <p class="text-center"><a href="http://cfp.osfeels.com" class="btn btn-success">Call for Proposals</a></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <img class="confetti" src="img/lightning_confetti.png">
  </div>
</div>

<%# See also, jumbotron in layout.erb %>
<div class="hidden-sm hidden-xs">
  <div class="row newsletter">
    <div class="col-md-2">
      <img class="confetti triangle" src="img/triangle_confetti.png">
    </div>
    <div class="col-md-8">
      <%= erb :mailing_list %>
    </div>
    <div class="col-md-2">
      <img class="confetti dot" src="img/dot_confetti.png">
    </div>
  </div>
</div>
