<div class="row callouts">
  <div class="col-md-4">
    <img class="confetti" src="img/speech_confetti.png" />
    <h2 class="pink">Why open source?</h2>
    <p>In many ways the promise of Open Source community gone unfulfilled. Open source culture needs shepherding to fulfill their promise. To varying degrees, it has been co-opted, diluted, and left to grow untended–we want to change that.</p>
  </div>
  <div class="col-md-4">
    <img class="confetti" src="img/smile_confetti.png" />
    <h2 class="blue">Why feelings?</h2>
    <p>Being a coder can be emotionally difficult. Some of us talk about it with others, but many of us don’t and aren’t encouraged to. We need to be talking about it, though–we are the most natural support for each other. Being supportive and using this support takes practice and it takes intention.</p>
 </div>
  <div class="col-md-4">
    <img class="confetti" src="img/heart_confetti.png" />
    <h2 class="purple">Why open source <i>and</i> feelings?</h2>
    <p>Open Source and Feelings is about taking the existing legacy of open source and crafting its culture into what we want it to be. This means developing strategies and solutions and building the skills that will help us do this work as a community.</p>
  </div>
</div>

<div class="hidden-sm hidden-xs">
  <div class="row">
    <div class="col-md-12">
      <img class="confetti" src="img/lightning_confetti.png">
    </div>
  </div>
  <%= erb :mailing_list %>
</div>