<div class="row callouts confetti confetti--heart">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="blue">Venue Information</h2>
    <div class="purple">
      <img class="img-responsive img-rounded" src="/img/bph.jpg" />
      <small><em>Photo Credit: Seattle Central College</em></small>

      <h3>Broadway Performance Hall</h3>
      <p>
        <a href="https://www.google.com/maps/place/Broadway+Performance+Hall/@47.6158246,-122.321796,17" target="_blank">
          1625 Broadway Ave<br />
          Seattle, WA 98122
        </a>
      </p>
      <p>Located at the corner of Broadway and Pine on Capitol Hill, on the Seattle Central campus.</p>

      <h3>Venue Accessibility</h3>
      <p>The Broadway Performance Hall has an ADA compliant elevator as well as wheelchair seating.</p>
      <p>Headsets will be available upon request.</p>
      <p><a href="mailto:hello@osfeels.com">Please send us an email</a> or speak with any organizer or volunteer during the event if you have any requests, questions or concerns.</p>

      <h3>Venue Map</h3>
      <p># Put Map Here</p>
    </div>
  </div>
</div>

<div class="row callouts confetti confetti--lightning">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="pink">How to Get Here</h2>
    <div class="purple">
      <h3>Public Transportation</h3>
      <p>Metro buses 9, 10, 11, 43, 49, 60, and 84 all have stops within a block of the venue. The venue is also a 20 minute, up hill walk from Westlake, the LightRail's last stop.</p>
      <p>The <a href="http://tripplanner.kingcounty.gov/" target="_blank">King County Trip Planner</a> and <a href="http://pugetsound.onebusaway.org/" target="_blank">OneBusAway</a> are helpful public transit resources.</p>

      <h3>Parking</h3>
      <p>Paid and free street parking is available in the neighborhood (check <a href="http://wherecanipark.in/seattle" target="_blank">WhereCanIPark</a> for options). The college also <a href="http://www.seattlecentral.edu/transportation/" target="_blank">operates a paid lot</a>, located directly behind the venue <a href="https://www.google.com/maps/place/1609+Harvard+Ave,+Seattle,+WA+98122" target="_blank">at 1609 Harvard Avenue</a>.</p>

      <h3>Biking</h3>
      <p>There are a number of public bike racks located nearby, including along Broadway in front of the venue and on the 3rd level of the <a href="http://www.seattlecentral.edu/transportation/" target="_blank">college's parking garage located at Harvard and Pine</a>.</p>
      <p>A <a href="http://www.prontocycleshare.com/" target="_blank">Pronto Station</a> is located behind the venue on Harvard and Pine.</p>
    </div>
  </div>
</div>

<div class="row callouts confetti confetti--smile">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="blue">Where to Stay</h2>
    <div class="purple">
      <p>The <a href="http://www.silvercloud.com/" target="_blank">Silver Cloud Hotel</a> is the closest hotel to the venue (an approximately 6 minute walk).</p>
      <p>There are a number of hotels located nearby in downtown and Belltown, the closest being the <a href="http://homewoodsuites3.hilton.com/en/hotels/washington/homewood-suites-by-hilton-seattle-conv-ctr-pike-street-SEAHMHW/index.html" target="_blank">Homewood Suites by Hilton</a>, <a href="http://www.paramounthotelseattle.com/" target="_blank">the Paramount Hotel</a>, <a href="http://olive8.hyatt.com/en/hotel/home.html" target="_blank">Hyatt at Olive 8</a>, <a href="http://hotelsorrento.com/" target="_blank">Sorrento Hotel</a>.</p>
      <p>If hotels are not an option, there are a <a href="http://www.hostels.com/seattle/usa" target="_blank">handful of hostels</a> as well as <a href="https://www.airbnb.com" target="_blank">airbnb</a>.
    </div>
  </div>
</div>

<div class="row callouts confetti confetti--lightning">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="pink">Where to Caffeinate</h2>
    <div class="purple">
      <p># Put Map Here</p>
    </div>
  </div>
</div>

<div class="row callouts confetti confetti--heart">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="blue">Where to Eat</h2>
    <div class="purple">
      <p># Put Map Here</p>
    </div>
  </div>
</div>

<div class="row callouts confetti confetti--lightning">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="pink">Any Questions?</h2>
    <div class="purple">
      <p><a href="mailto:hello@osfeels.com">Please send us an email</a> or speak with any organizer or volunteer during the event if you have any requests, questions or concerns.</p>
    </div>
  </div>
</div>
