<div class="jumbotron">
  <div class="hamburger-wrapper">
    <div class="spinner-master">
      <input type="checkbox" id="spinner-form" />
      <label for="spinner-form" class="spinner-spin" id="menu-toggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
      </label>
    </div>
  </div>
  <div class="container">
    <h1>
      <a href="/">
        <img src="img/logo_with_white_text_transparent_bg.png" alt="Open Source and Feelings" />
      </a>
    </h1>
    <div class="row tagline">
      <div class="col-md-8 col-md-offset-2">
        <h2>A two-day conference at the intersection of software and the humanities.</h2>
      </div>
    </div>
    <div class="visible-sm visible-xs">
      <div class="row newsletter">
        <div class="col-md-8 col-md-offset-2">
          <%= erb :mailing_list %>
        </div>
      </div>
    </div>
  </div>
</div>
