<html>
  <head>
    <title>Open Source &amp; Feelings</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/override.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body class="container-fluid span6 offset3">
    <div class="page-header">
      <h2>Open Source &amp; Feelings</h2>
      <p class="lead">For humans sharing code with humans</p>
    </div>
    <%= yield %>
    <address>
      Email us at <a href="#">hello@opensourceandfeelings.com</a>
    </address>
  </body>
</html>
