<form action="//opensourceandfeelings.us10.list-manage.com/subscribe/post?u=f274a89d3dcc24224ba21e1f3&amp;amp;id=aede4d31ba" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
  <div class="hidden-sm hidden-xs">
    <h2>
      <label class="purple" for="mce-EMAIL">
        Sign up to learn when tickets are available for Open Source &amp;&nbsp;Feelings.
      </label>
    </h2>
  </div>
  <div class="input-group">
    <input class="form-control email " id="mce-EMAIL" name="EMAIL" placeholder="your email address" required="" type="email" value="">
    <div style="position: absolute; left: -5000px;">
      <input name="b_f274a89d3dcc24224ba21e1f3_aede4d31ba" tabindex="-1" type="text" value="">
    </div>
    <span class="input-group-btn">
      <button class="btn btn-success" id="mc-embedded-subscribe" name="subscribe" type="submit" value="sign up!" type="button">sign up!</button>
    </span>
  </div>
</form>