<form action="//osfeels.us11.list-manage.com/subscribe/post?u=a5ec8ed0cd20f036f3a0e10cf&amp;id=3d4585f1c0" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
    <h2>
      <label class="primary" for="mce-EMAIL">
        Sign up for the latest news from <br> Open Source &amp;&nbsp;Feelings.
      </label>
    </h2>
  <div class="input-group">
    <input class="form-control email " id="mce-EMAIL" name="EMAIL" placeholder="your email address" required="" type="email" value="">
    <div style="position: absolute; left: -5000px;">
      <input name="b_a5ec8ed0cd20f036f3a0e10cf_3d4585f1c0" tabindex="-1" type="text" value="">
    </div>
    <span class="input-group-btn">
      <button class="btn btn-success" id="mc-embedded-subscribe" name="subscribe" type="submit" value="sign up!" type="button">sign up!</button>
    </span>
  </div>
</form>
