<nav class="navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand text-muted" href="#subscribe">Open Source &amp;&nbsp;Feelings </a>
    </div>
  </div>
</nav>
