<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="btn btn-primary navbar-btn navbar-toggle collapsed" href="#subscribe" aria-expanded="false" aria-controls="navbar">
        Sign up!
      </a>
      <a class="navbar-brand text-muted" href="#subscribe">Open Source &amp;&nbsp;Feelings </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse navbar-right">
      <a class="btn btn-success navbar-btn" href="#subscribe">
        Sign up!
      </a>
    </div>
  </div>
</nav>
