<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="/">Home</a></li>
    <li><a href="/conduct">Code of Conduct</a></li>
    <li><a href="/tickets">Buy Tickets</a></li>
    <li><a href="/schedule">2015 Schedule</a></li>
    <li><a href="/speakers">Speakers</a></li>
    <li><a href="/sponsors">Sponsors</a></li>
  </ul>
</div>
