<%# Day 1 Speakers %>
<div class="row callouts">
  <img class="confetti" src="img/smile_confetti.png">
  <h2 class="pink">
    Day One Speakers
  </h2>
</div>
<div class="row speakers">
  <div class="col-sm-4 text-center speakers--info">
    <img src="https://placekitten.com/g/250/250" class="speakers--img" />
    <h3 class="pink">Gumbo Beet-Greens</h3>
    <p>
      Pea horseradish azuki bean lettuce avocado asparagus okra
    </p>
  </div>
  <div class="col-sm-4 text-center speakers--info">
    <img src="https://placekitten.com/g/250/250" class="speakers--img" />
    <h3 class="blue">Okra Fennel</h3>
    <p>
      Pea horseradish azuki bean lettuce avocado asparagus okra
    </p>
  </div>
  <div class="col-sm-4 text-center speakers--info">
    <img src="https://placekitten.com/g/250/250" class="speakers--img" />
    <h3 class="purple">Endive Broccoli</h3>
    <p>
      Pea horseradish azuki bean lettuce avocado asparagus okra
    </p>
  </div>
</div>
<div class="row speakers">
  <div class="col-sm-4 text-center speakers--info">
    <img src="https://placekitten.com/g/250/250" class="speakers--img" />
    <h3 class="pink">Gumbo Beet-Greens</h3>
    <p>
      Pea horseradish azuki bean lettuce avocado asparagus okra
    </p>
  </div>
  <div class="col-sm-4 text-center speakers--info">
    <img src="https://placekitten.com/g/250/250" class="speakers--img" />
    <h3 class="blue">Okra Fennel</h3>
    <p>
      Pea horseradish azuki bean lettuce avocado asparagus okra
    </p>
  </div>
  <div class="col-sm-4 text-center speakers--info">
    <img src="https://placekitten.com/g/250/250" class="speakers--img" />
    <h3 class="purple">Endive Broccoli</h3>
    <p>
      Pea horseradish azuki bean lettuce avocado asparagus okra
    </p>
  </div>
</div>

<%# Day 2 Speakers %>
<div class="row callouts">
  <img class="confetti" src="img/heart_confetti.png">
  <h2 class="yellow">
    Day Two Speakers
  </h2>
</div>
<div class="row speakers">
  <div class="col-sm-4 text-center speakers--info">
    <img src="https://placekitten.com/g/250/250" class="speakers--img" />
    <h3 class="pink">Gumbo Beet-Greens</h3>
    <p>
      Pea horseradish azuki bean lettuce avocado asparagus okra
    </p>
  </div>
  <div class="col-sm-4 text-center speakers--info">
    <img src="https://placekitten.com/g/250/250" class="speakers--img" />
    <h3 class="blue">Okra Fennel</h3>
    <p>
      Pea horseradish azuki bean lettuce avocado asparagus okra
    </p>
  </div>
  <div class="col-sm-4 text-center speakers--info">
    <img src="https://placekitten.com/g/250/250" class="speakers--img" />
    <h3 class="purple">Endive Broccoli</h3>
    <p>
      Pea horseradish azuki bean lettuce avocado asparagus okra
    </p>
  </div>
</div>
<div class="row speakers">
  <div class="col-sm-4 text-center speakers--info">
    <img src="https://placekitten.com/g/250/250" class="speakers--img" />
    <h3 class="pink">Gumbo Beet-Greens</h3>
    <p>
      Pea horseradish azuki bean lettuce avocado asparagus okra
    </p>
  </div>
  <div class="col-sm-4 text-center speakers--info">
    <img src="https://placekitten.com/g/250/250" class="speakers--img" />
    <h3 class="blue">Okra Fennel</h3>
    <p>
      Pea horseradish azuki bean lettuce avocado asparagus okra
    </p>
  </div>
  <div class="col-sm-4 text-center speakers--info">
    <img src="https://placekitten.com/g/250/250" class="speakers--img" />
    <h3 class="purple">Endive Broccoli</h3>
    <p>
      Pea horseradish azuki bean lettuce avocado asparagus okra
    </p>
  </div>
</div>

