<div class="row callouts sponsors--cta">
  <div class="col-md-12">
    <h2 class="blue">Interested in Sponsoring OS Feels 2015?</h2>
    <div class="text-center">
      <a href="/prospectus" class="btn btn-danger">Download Prospectus</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <img class="confetti" src="img/heart_confetti.png">
  </div>
</div>

<div class="sponsors--level callouts">
  <div class="row">
    <div class="col-md-12">
      <h2 class="purple">
        Committer Sponsors
      </h2>
    </div>
  </div>
  <div class="row sponsors--section">
    <div class="col-md-8 col-md-offset-2">
      <h3 class="committer">
        <a href="https://www.honeybadger.io/" target="_blank">
          <img src="img/honeybadger-logo.svg" alt="Honeybadger logo" />
        </a>
      </h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <img class="confetti" src="img/smile_confetti.png">
  </div>
</div>

<div class="sponsors--level callouts">
  <div class="row">
    <div class="col-md-12">
      <h2 class="purple">
        Contributor Sponsors
      </h2>
    </div>
  </div>
  <div class="row sponsors--section">
    <div class="col-sm-4">
      <h3 class="contributor">
        <a href="http://thomasstreet.com/" target="_blank">
          <img src="img/thomas-street-logo.png" alt="Thomas Street logo" />
        </a>
      </h3>
    </div>
  </div>
</div>

