<div class="row callouts sponsors--cta">
  <div class="col-md-12">
    <h2 class="blue">Interested in Sponsoring OS Feels 2015?</h2>
    <div class="text-center">
      <a href="/prospectus" class="btn btn-danger">Download Prospectus</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <img class="confetti" src="img/heart_confetti.png">
  </div>
</div>

<div class="sponsors--level callouts">
  <div class="row">
    <div class="col-md-12">
      <h2 class="purple">
        Maintainer Sponsors
      </h2>
    </div>
  </div>
  <div class="row sponsors--section">
    <div class="col-md-8 col-md-offset-2">
      <h3>
       Parsnip Napa Cabbage
      </h3>
      <p>
        Beetroot water spinach okra water chestnut ricebean pea catsear courgette summer purslane. Water spinach arugula pea tatsoi aubergine spring onion bush tomato kale radicchio turnip chicory salsify pea sprouts fava bean. Dandelion zucchini burdock yarrow chickpea dandelion sorrel courgette turnip greens tigernut soybean radish artichoke wattle seed endive groundnut broccoli arugula.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <img class="confetti" src="img/lightning_confetti.png">
  </div>
</div>

<div class="sponsors--level callouts">
  <div class="row">
    <div class="col-md-12">
      <h2 class="purple">
        Committer Sponsors
      </h2>
    </div>
  </div>
  <div class="row sponsors--section">
    <div class="col-md-8 col-md-offset-2">
      <h3>
       Parsnip Napa Cabbage
      </h3>
      <p>
        Beetroot water spinach okra water chestnut ricebean pea catsear courgette summer purslane. Water spinach arugula pea tatsoi aubergine spring onion bush tomato kale radicchio turnip chicory salsify pea sprouts fava bean. Dandelion zucchini burdock yarrow chickpea dandelion sorrel courgette turnip greens tigernut soybean radish artichoke wattle seed endive groundnut broccoli arugula.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <img class="confetti" src="img/smile_confetti.png">
  </div>
</div>

<div class="sponsors--level callouts">
  <div class="row">
    <div class="col-md-12">
      <h2 class="purple">
        Contributor Sponsors
      </h2>
    </div>
  </div>
  <div class="row sponsors--section">
    <div class="col-sm-4">
      <h3>
       Parsnip Napa Cabbage
      </h3>
      <p>
        Beetroot water spinach okra water chestnut ricebean pea catsear courgette summer purslane. Water spinach arugula pea tatsoi aubergine spring onion bush tomato kale radicchio turnip chicory salsify pea sprouts fava bean. Dandelion zucchini burdock yarrow chickpea dandelion sorrel courgette turnip greens tigernut soybean radish artichoke wattle seed endive groundnut broccoli arugula.
      </p>
    </div>
    <div class="col-sm-4">
      <h3>
       Parsnip Napa Cabbage
      </h3>
      <p>
        Beetroot water spinach okra water chestnut ricebean pea catsear courgette summer purslane. Water spinach arugula pea tatsoi aubergine spring onion bush tomato kale radicchio turnip chicory salsify pea sprouts fava bean. Dandelion zucchini burdock yarrow chickpea dandelion sorrel courgette turnip greens tigernut soybean radish artichoke wattle seed endive groundnut broccoli arugula.
      </p>
    </div>
    <div class="col-sm-4">
      <h3>
       Parsnip Napa Cabbage
      </h3>
      <p>
        Beetroot water spinach okra water chestnut ricebean pea catsear courgette summer purslane. Water spinach arugula pea tatsoi aubergine spring onion bush tomato kale radicchio turnip chicory salsify pea sprouts fava bean. Dandelion zucchini burdock yarrow chickpea dandelion sorrel courgette turnip greens tigernut soybean radish artichoke wattle seed endive groundnut broccoli arugula.
      </p>
    </div>
  </div>
</div>

