<div class="lead">
  <p>Want to <a href="http://cfp.osfeels.com/">propose a talk or panel</a> but aren't sure what to propose? Here are some ideas for talks we'd love to see:</p>
    <ul class="col-md-6">
      <li>Changing the ratio: getting more people of color into open source</li>
      <li>Collaborating with people you dislike</li>
      <li>How to keep collaborating after significant conflict over ideas or implementation</li>
      <li>Strategies for raising community guidelines/issues in a text-heavy medium like bug trackers or issue trackers</li>
      <li>Feelings 101</li>
      <li>How to be angry, how to apologize, &amp; how to set boundaries</li>
      <li>Experiences/workflow reports from developers who are vision or mobility impaired</li>
      <li>Practical skills for allyship</li>
      <li>Communicating effectively about project needs, scope, and limitations when there is a large disparity in technical skill and knowledge among collaborators</li>
      <li>Inclusive hiring processes</li>
      <li>Developing for accessibility</li>
      <li>The role of documentation in encouraging participation in Open Source</li>
      <li>Getting started in open source as a new coder</li>
      <li>Getting started in open source in a non-programming role</li>
      <li>Connecting community organizations with the technical resources and people they need to enhance their services</li>
      <li>Connecting people with software skills to help folks in non-software communities</li>
      <li>Guide to organizing a conference</li>
    </ul>
    <ul class="col-md-6">
      <li>Pair programming done well</li>
      <li>How to contribute to a project without coding</li>
      <li>What mid- and senior-engineers can do to promote healthy teams/culture</li>
      <li>Case studies of difficult times in community - what happened and how do we learn from it</li>
      <li>Coming back (or not) from making a bad technical mistake</li>
      <li>The only black engineer: dealing with cultural alienation</li>
      <li>Using GitHub in ways that welcome and actively encourage contribution from people of different backgrounds and skill levels</li>
      <li>Taking responsibility for making interpersonal mistakes - how to minimize damage and rebuild trust</li>
      <li>Primer on microagressions</li>
      <li>Civic hacking</li>
      <li>Different roles in open source (designers, project/program managers, developers, technical writers, community organizers, etc) and what they need to know about each other to collaborate well
      <li>Managing a happy team</li>
      <li>How to get a job in open source that brings you joy</li>
      <li>Open source teaching: curriculum, tools, and pedagogy</li>
      <li>Open Source hardware</li>
      <li>How to develop and maintain community standards</li>
      <li>Getting your foot in the door with a non-traditional background</li>
    </ul>
</div>