<div class="lead">
  <p>Want to <a href="http://cfp.osfeels.com/">propose a talk or panel</a> but aren't sure what to propose? Here's a wishlist of topics and titles for talks we'd love to see:</p>
    <ul class="col-md-6">
      <li>That time you made a really bad technical mistake… and how you recovered (or didn't)</li>
      <li>Project War Stories</li>
      <li>Something went sideways in our community…</li>
      <li>What I learned from making a social faux pas</li>
      <li>How to work with people you love and hate</li>
      <li>So you want to open source your project</li>
      <li>Notes from the great flamewar: How to keep collaborating when sock puppets attack your issues</li>
      <li>the bugtracker is for technical topics: discussing community (in the) issues</li>
      <li>Human APIs: How to be angry, how to apologize, &amp; how to set boundaries</li>
      <li>Effective communication</li>
      <li>Helping others contribute through effective documentation</li>
      <li>Learn Feelings in 24 Hours</li>
    </ul>
    <ul class="col-md-6">
      <li>How to build with broken tools: building robust systems when things fall apart</li>
      <li>You SHOULD watch this talk: more effective communication with RFC 2119</li>
      <li>Managing for Happiness</li>
      <li>Fear and Loathing in Open Source</li>
      <li>Managing change</li>
      <li>How to get a job that brings you joy in open source</li>
      <li>When assume good intent doesn't work</li>
      <li>Open source teaching: curriculum, tools, and pedagogy</li>
      <li>Open Source hardware</li>
      <li>How to develop community standards</li>
      <li>Separating Art from Artist: Using code from people you don't like</li>
      <li>Getting started in open source</li>
      <li>What is 'equivelant experience'? Getting your foot in the door with a non-traditional background</li>
      <li>Feelings: an Owners Manual</li>
    </ul>
</div>