<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <img class="confetti" src="img/lightning_confetti.png">
  </div>
</div>
<div class="row callouts">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="blue">Buy Tickets</h2>
    <div class="purple">
      <p>
        Tickets are now available, starting at $55 for both days.
      </p>
      <p>
        OSFeels is a kind, inclusive, and welcoming conference.<br />
        We expect all participants to follow our <a class="emphasis" href="/conduct">code of conduct</a> during the event.
      </p>
      <a href="https://ti.to/osfeels/open-source-feelings-2015" class="btn btn-success">Get Tickets Now!</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <img class="confetti" src="img/speech_confetti.png">
  </div>
</div>
<div class="row callouts newsletter">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="purple">Talk Proposer Discount</h2>
    <div class="purple">
      <p>
        Thanks to everyone who submitted talks!
      </p>
      <p>
        If you proposed a talk, you should have received a discount code for your ticket. If you haven't, drop us a line at <a class="pink" href="mailto:hello@opensourceandfeelings.com">hello@osfeels.com</a>.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <img class="confetti" src="img/heart_confetti.png">
  </div>
</div>
<div class="row callouts">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="blue">Need Help Getting to OSFeels?</h2>
    <div class="purple">
      <p>
        If finances would prevent you from attending, we'd love to hear from you.
      </p>
      <p>
        <a class="emphasis" href="http://goo.gl/forms/Hw9C95aun2" target="_blank">Get in touch with us to request assistance.</a>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <img class="confetti" src="img/lightning_confetti.png">
  </div>
</div>
<div class="row newsletter">
  <div class="col-md-2">
    <img class="confetti triangle" src="img/triangle_confetti.png">
  </div>
  <div class="col-md-8">
    <%= erb :mailing_list %>
  </div>
  <div class="col-md-2">
    <img class="confetti dot" src="img/dot_confetti.png">
  </div>
</div>
