<div class="row callouts">
  <div class="col-md-4">
    <h2 class="blue">Talk Proposer Discount</h2>
    <div class="purple">
      <p>
        Thanks to everyone who submitted talks!
      </p>
      <p>
        If you proposed a talk, you should have received a discount code for your ticket. If you haven't, drop us a line at <a class="pink" href="mailto:hello@opensourceandfeelings.com">hello@osfeels.com</a>.
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <h2 class="yellow">Buy Tickets</h2>
    <div class="purple">
      <p>
        OSFeels is a kind, inclusive, and welcoming conference.<br />
        We expect all participants to follow our <a href="/conduct"><strong>code of conduct</strong></a>.
      </p>
      <a href="https://ti.to/osfeels/open-source-feelings-2015" class="btn btn-success btn-sm">Get Tickets Now!</a>
      <p>
        Tickets are now available for OSFeels 2015, starting at $55 for both days.
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <h2 class="blue">Need Help Getting to OSFeels?</h2>
    <div class="purple">
      <p>
        If finances would prevent you from attending, we'd love to hear from you.
      </p>
      <p>
        <a href="http://goo.gl/forms/Hw9C95aun2" target="_blank"><strong>Get in touch with us to request assistance.</strong></a>
      </p>
    </div>
  </div>
</div>
