<div class="row callouts confetti confetti--lightning">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="blue">Tickets</h2>
    <div class="purple">
      <p>
        The conference is over, and tickets are no longer on sale.
      </p>
      <p>
        OSFeels is a kind, inclusive, and welcoming conference.<br />
        We expect all participants to follow our <a class="emphasis" href="/conduct">code of conduct</a> during the event.
      </p>
    </div>
  </div>
</div>

<div class="row callouts newsletter confetti confetti--speech">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="purple">Talk Proposer Discount</h2>
    <div class="purple">
      <p>
        Thanks to everyone who submitted talks!
      </p>
      <p>
        If you proposed a talk, you should have received a discount code for your ticket. If you haven't, drop us a line at <a class="pink" href="mailto:hello@opensourceandfeelings.com">hello@osfeels.com</a>.
      </p>
    </div>
  </div>
</div>

<div class="row callouts confetti confetti--heart">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="blue">Need Help Getting to OSFeels?</h2>
    <div class="purple">
      <p>
        If finances would prevent you from attending, we'd love to hear from you.
      </p>
      <p>
        <a class="emphasis" href="http://goo.gl/forms/Hw9C95aun2" target="_blank">Get in touch with us to request assistance.</a>
      </p>
    </div>
  </div>
</div>

<div class="row newsletter confetti confetti--lightning">
  <div class="col-md-2">
    <img class="triangle" src="img/triangle_confetti.png">
  </div>
  <div class="col-md-8">
    <%= erb :mailing_list %>
  </div>
  <div class="col-md-2">
    <img class="dot" src="img/dot_confetti.png">
  </div>
</div>
