<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <img class="confetti" src="img/lightning_confetti.png">
  </div>
</div>
<div class="row callouts">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="blue">Buy Tickets</h2>
    <div class="purple">
      <p>
        Tickets are now available for OSFeels 2015, starting at $55 for both days.
      </p>
      <p>
        OSFeels is a kind, inclusive, and welcoming conference.<br />
        We expect all participants to respect our <a href="/conduct"><strong>code of conduct</strong></a> during the event.
      </p>
      <a href="https://ti.to/osfeels/open-source-feelings-2015" class="btn btn-success">Get Tickets Now!</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <img class="confetti" src="img/speech_confetti.png">
  </div>
</div>
<div class="row callouts newsletter">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="purple">Talk Proposer Discount</h2>
    <div class="purple">
      <p>
        Thanks to everyone who submitted talks!
      </p>
      <p>
        If you proposed a talk, we'll send you a 50% discount code for your ticket shortly.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <img class="confetti" src="img/heart_confetti.png">
  </div>
</div>
<div class="row callouts">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="blue">Need Help Getting to OSFeels?</h2>
    <div class="purple">
      <p>
        We'd love to hear from you! <a href="http://goo.gl/forms/Hw9C95aun2" target="_blank"><strong>Get in touch with us to request assistance.</strong></a>
      </p>
    </div>
  </div>
</div>
