<div class="col-md-6 col-md-offset-3">
  <h2>Lodging</h2>
  <p>
    We recommend you stay at the <a href="http://www.silvercloud.com/seattlebroadway/">Silver Cloud Hotel on Broadway</a> or find a place to stay near Broadway and Pine using <a href="https://www.airbnb.com/">AirBnB</a>.
  </p>

  <p>
    When making a reservation at the Silver Cloud use the code <strong>osfeels</strong> when calling them at <em>206.325.1400</em> or enter it as the as the Group ID and Password when <a href="
    http://www.silvercloud.com/seattlebroadway">making a reservation online</a>.
  </p>
</div>
