<div class="row callouts confetti confetti--heart">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="blue">Venue Information</h2>
    <div class="purple">
      <img class="img-responsive img-rounded" src="/img/bph.jpg" />
      <small><em>Photo Credit: Seattle Central College</em></small>

      <h3>Broadway Performance Hall</h3>
      <p>
        <a href="https://www.google.com/maps/place/Broadway+Performance+Hall/@47.6158246,-122.321796,17" target="_blank">
          1625 Broadway Ave<br />
          Seattle, WA 98122
        </a>
      </p>
      <p>Located at the corner of Broadway and Pine on Capitol Hill, on the Seattle Central campus.</p>

      <h3>Venue Accessibility</h3>
      <p>The Broadway Performance Hall has an ADA compliant elevator as well as wheelchair seating.</p>
      <p>Headsets will be available upon request.</p>
      <p><a href="mailto:hello@osfeels.com" target="_blank">Please send us an email</a> or speak with any organizer or volunteer during the event if you have any requests, questions or concerns.</p>
    </div>
  </div>
</div>

<div class="row callouts confetti confetti--smile">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="blue">How to Get Here</h2>
    <div class="purple">
      <h3>Public Transportation</h3>
      <p>Metro buses 9, 10, 11, 43, 49, 60, and 84 all have stops within a block of the venue. The venue is also a 20 minute, up hill walk from Westlake, the LightRail's last stop.</p>
      <p>The <a href="http://tripplanner.kingcounty.gov/" target="_blank">King County Trip Planner</a> and <a href="http://pugetsound.onebusaway.org/" target="_blank">OneBusAway</a> are helpful public transit resources.</p>

      <h3>Parking</h3>
      <p>Most nearby street parking has a two hour maximum, so your best bet is to use one of the many nearby parking lots. Most of these have an early bird rate if you are in by 9:00 or 9:30, and out by 6. Early bird specials vary in cost anywhere from $7 to $18 plus tax.</p>
      <p>On Saturday, you will find no better deal or convenience than the <a href="https://www.google.com/maps/place/1609+Harvard+Ave,+Seattle,+WA+98122/" target="_blank">Harvard Garage</a> across the street directly behind the BPH. There’s plenty of space, and it costs $5 for all day/night.</p>

      <h3>Biking</h3>
      <p>There are a number of public bike racks located nearby, including along Broadway in front of the venue and on the 3rd level of the <a href="http://www.seattlecentral.edu/transportation/" target="_blank">college's parking garage located at Harvard and Pine</a>.</p>
      <p>A <a href="http://www.prontocycleshare.com/" target="_blank">Pronto Station</a> is located behind the venue on Harvard and Pine.</p>
    </div>
  </div>
</div>

<div class="row callouts confetti confetti--heart">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="blue">Where to Stay</h2>
    <div class="purple">
      <p>The <a href="http://www.silvercloud.com/" target="_blank">Silver Cloud Hotel</a> is the closest hotel to the venue (an approximately 6 minute walk).</p>
      <p>There are a number of hotels located nearby in downtown and Belltown, the closest being the <a href="http://homewoodsuites3.hilton.com/en/hotels/washington/homewood-suites-by-hilton-seattle-conv-ctr-pike-street-SEAHMHW/index.html" target="_blank">Homewood Suites by Hilton</a>, <a href="http://www.paramounthotelseattle.com/" target="_blank">the Paramount Hotel</a>, <a href="http://olive8.hyatt.com/en/hotel/home.html" target="_blank">Hyatt at Olive 8</a>, <a href="http://hotelsorrento.com/" target="_blank">Sorrento Hotel</a>.</p>
      <p>If hotels are not an option, there are a <a href="http://www.hostels.com/seattle/usa" target="_blank">handful of hostels</a> as well as <a href="https://www.airbnb.com" target="_blank">airbnb</a>.
    </div>
  </div>
</div>

<div class="row callouts confetti confetti--lightning">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="blue">Where to Caffeinate</h2>
    <div class="purple">
      <p>You may heard that we have a wee smidge of coffee here in Seattle, and this is true (except, by "wee smidge", we mean "vast oceans"). Here are some of the quaint and delicious options in the area:</p>
      <ul>
        <li><a href="http://www.caffevita.com/locations/wa/capitol-hill" target="_blank">Caffe Vita</a>. 3 blocks away.</li>
        <li><a href="http://www.elliottbaybook.com/" target="_blank">Elliot Bay Bookstore</a> has a cafe inside, and it’s a pretty sweet book store to kill some time in. A block and a half away.</li>
        <li><a href="http://bauhaus.coffee/capitol-hill" target="_blank">Bauhaus Coffee</a> is an iconic Seattle coffee shop. 4 blocks away.</li>
        <li><a href="https://www.stumptowncoffee.com/locations/seattle/pine" target="_blank">Stumptown Coffee Roasters</a>. 2 blocks away.</li>
      </ul>
    </div>
  </div>
</div>

<div class="row callouts confetti confetti--heart">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="blue">Where to Eat</h2>
    <div class="purple">
      <p>The blocks around the BPH are chock-a-block with great restaurants! Here are some favorites, but the list is by no means exhaustive. Feel free to explore the neighborhood - you will likely find something fantastic that we haven’t included.</p>
      <ul>
        <li><a href="http://www.thestranger.com/locations/1202302/rancho-bravo-tacos" target="_blank">Rancho Bravo</a> - taco truck turned brick-and-mortar. Hands down, best cheap burrito on Capitol Hill.</li>
        <li><a href="http://www.oddfellowscafe.com/" target="_blank">Oddfellows Cafe</a> - mostly organic and local rustic American fare.</li>
        <li><a href="http://lostlakecafe.com/location/" target="_blank">Lost Lake Cafe</a> - this diner feels like a 60s hunting lodge had babies with a hipster. Big menu.</li>
        <li>On top of the QFC on Broadway and Pike. No, we're serious. Take the escalator up and you'll find <a href="http://tangerinetreerestaurant.com/" target="_blank">Tangerine Tree</a> (Vietnamese), <a href="http://marinationmobile.com/#about" target="_blank">Marination Station</a> (Hawaiian-Korean), and <a href="http://vostokdh.com/" target="_blank">Vostok Dumpling House</a> (Russian/Ukranian)</li>
        <li><a href="http://8ozburgerbarsea.com/" target="_blank">8 Oz Burger & Co</a> - High-end organic, local, sustainable burgers. Not much seating, so expect a wait. Get the brussel sprouts.</li>
      </ul>
    </div>
  </div>
</div>

<div class="row callouts confetti confetti--smile">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="blue">Nightlife</h2>
    <div class="purple">
      <p>Seattle's a fun town, and there are a lot of different kinds of awesome things you can do at the end of the day. Here is a list of some things to do right nearby that would be good places to go with, say, a group of folks you just met at a super fun conference:</p>
      <ul>
        <li><a href="http://www.gammaraygamestore.com/" target="_blank" class="pink">RayGun Lounge</a> - game store with a big hangout area with lots of tables. There are a number of restaurants right close if you want to grab dinner, then go get your board game on.</li>
        <li><a href="http://garagebilliards.com/mambo/" target="_blank" class="pink">Garage</a> is a pool hall (not, in fact, a garage) that <i>also</i> has bowling and a dinner menu with some gluten-free and vegan options.</li>
        <li><a href="http://www.centuryballroom.com/home/calendar/2015-10" target="_blank" class="pink">Century Ballroom</a> - if partner dancing is your jam, you're in luck. Century Ballroom is a gorgeous and lively lesbian-owned ballroom with a friendly, fun vibe. They're having a salsa dance Friday night, and both salsa and swing dances Saturday night - all of which start with an intro lesson.</li>
        <li><a href="http://johnjohnsgameroom.com/find-us/" target="_blank" class="pink">John John's Game Room</a> is a game room (as its name implies) with 80s arcade games and pinball.</li>
        <li><a href="http://www.dilettante.com/Mocha-Cafe/Broadway" target="_blank" class="pink">Dilletante Chocolates</a> has pretty much all the chocolate things that ever were chocolate. We're talking hot cocoa, chocolate martinis, cake, mousse, sundaes - and a bajillion kinds of each.</li>
        <li><a href="http://www.baitshopseattle.com/" target="_blank" class="pink">Bait Shop</a> - you won't find it hard to find a bar, if that's what you're looking for. But if you want one with some space and not quite as jam packed, try Bait Shop. It's a charming dive(ish) bar with great food - it's about 3/4 mile from the BPH, which puts it in a slightly less trafficked part of Capitol Hill, and thus can be mellower than some of the bars right nearby.</li>
        <li><a href="Roy Street Coffee and Tea" target="_blank" class="pink">Roy Street Coffee and Tea</a> is a big, cozy coffee shop right near Bait Shop, and it's open til 11pm Friday and Saturday nights. (Bauhaus is also open quite late on weekend nights.)</li>
      </ul>
    <p><strong>NOTE:</strong> The area between Broadway and 12th on Pike and Pine can be a little rowdy after the night gets going. Consider travelling in groups or heading a different direction if that's not a safe or enjoyable vibe for you. (The above options are largely outside of that area, but we thought we'd give you a heads up.)</p>
    </div>
  </div>
</div>

<div class="row callouts confetti confetti--lightning">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="pink">Any Questions?</h2>
    <div class="purple">
      <p><a href="mailto:hello@osfeels.com" target="_blank">Please send us an email</a> or speak with any organizer or volunteer during the event if you have any requests, questions or concerns.</p>
    </div>
  </div>
</div>
